<ion-header>
  <ion-toolbar>
    <ion-title>
      Educate
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>



  <ion-content overflow-scroll="true" class="education"> 

    <h1>Learn more about recycling in a fun way</h1>

    <br>

    <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
     <source src="assets/output_free.mp4" type="video/mp4" />
    </video>

</ion-content>