<ion-header>
  <ion-toolbar>
    <ion-title>textiles</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categories"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/textiles.png" />
    <ion-card-header>
      <ion-card-subtitle>catergory:</ion-card-subtitle>
      <ion-card-title>Textiles</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Whether the raw material is obtained from a plant, animal or crude oil, the process of making textiles is both energy-demanding and pollutant-intensive, involving huge amounts of water, energy, chemicals, pesticides and herbicides.
      Unwanted textiles can be recycled: donate pre-loved garments, shoes and soft furnishings to local charity shops or use the charity textile bins at bring centres and other locations.
    Some textiles are not suitable for re-use or recycling such as those that are heavily soiled or worn, these should be disposed of in a clothes bank where they will be sent for shredding and used, 
        for instance, as furniture stuffing.
    </ion-card-content>
  </ion-card>

</ion-content>
