<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="about">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Eco App</ion-card-subtitle>
      <ion-card-title>About Us</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="assets/logo.png" alt="eco-logo">
      We are a new innovative business created to educate and entice people
      to recyle and create a more eco friendly lifestyle. Our objective is to reach our audience
      though the power of digital technology by creating our mobile app and educational games.
    </ion-card-content>
  </ion-card>
  

  <h1>FAQS</h1>
  <h3>Have some questions?</h3>

 <br>

 <mbsc-accordion>
  <mbsc-card collapsible open>
      <mbsc-card-header>
          <mbsc-card-title class="mbsc-bold">What is recycling?</mbsc-card-title>
      </mbsc-card-header>
      <mbsc-card-content>
        Recycling is the process of converting waste materials into new materials and objects. 
        The recyclability of a material depends on its ability to reacquire the properties it
         had in its virgin or original state.
      </mbsc-card-content>
  </mbsc-card>
  
  <mbsc-card collapsible>
      <mbsc-card-header>
          <mbsc-card-title class="mbsc-bold">What can I put in my food waste bin</mbsc-card-title>
      </mbsc-card-header>
      <mbsc-card-content>
        Meat, poultry and fish, including bones, Leftover food from your plate and dishes,Fruit & vegetables,
        Tea bags, coffee grinds & paper filters,Breads, cakes & biscuits,Rice, pasta & cereals,Dairy products
         (cheese, butter, yoghurt),Soups & sauces  Eggs, egg shells & cardboard egg boxes,Food soiled paper 
         napkins & paper towels,Newspaper 
        (when used for wrapping food waste)Out of date food with packaging removed no glass/plastic
      </mbsc-card-content>
  </mbsc-card>

  <mbsc-card collapsible>
    <mbsc-card-header>
        <mbsc-card-title class="mbsc-bold">What is home composting?</mbsc-card-title>
    </mbsc-card-header>
    <mbsc-card-content>
      Home Composting is a natural process of decomposition that turns garden materials and 
      vegetable food scraps into a dark, crumbly and earthy smelling material called compost. 
      Compost is rich in nutrients and full of life and when used in your garden and on your plants, 
      feeds the ecosystem of the soil and slowly releases nutrients that plants can absorb. Using compost 
      is the foundation of maintaining healthy 
      soil for stimulating all plant growth and creating a beautiful garden.
    </mbsc-card-content>
</mbsc-card>

<mbsc-card collapsible>
  <mbsc-card-header>
      <mbsc-card-title class="mbsc-bold">What is going on with the bin charges?</mbsc-card-title>
  </mbsc-card-header>
  <mbsc-card-content>
    In June 2017 the Government made a decision to phase out flat fees for household waste collection. 
    Over the period Autumn 2017 to Autumn 2018 all household customers should be moved to pricing plans 
    which includes a 
    charge based on usage when they go to renew their contracts.
  </mbsc-card-content>
</mbsc-card>

<mbsc-card collapsible>
  <mbsc-card-header>
      <mbsc-card-title class="mbsc-bold">Can I put glass in the recycling bin?</mbsc-card-title>
  </mbsc-card-header>
  <mbsc-card-content>
    No, this was allowed in the past in some areas but as it frequently breaks into smaller shards 
    it then contaminates paper and plastic in the bin making it harder to recycle these other materials.
     Please collect it separately and drop it off at 
    the local glass bank or Civic Amenity site for recycling. You can find your nearest location on 
    the map.
  </mbsc-card-content>
</mbsc-card>

<mbsc-card collapsible>
  <mbsc-card-header>
      <mbsc-card-title class="mbsc-bold">What about empty aerosol cans?</mbsc-card-title>
  </mbsc-card-header>
  <mbsc-card-content>
    Aerosols are generally pressurised cans like deodorant, air freshener or bug sprays.
    These should be brought to your local civic amenity site and if this is not an option please 
    place them in your general waste bin.In Ireland, as per 2nd Schedule category 1 waste of 
    The Waste Management Act, 1996, aerosols fall into the category of hazardous waste and 
    therefore cannot be placed in the household recycle bin.
  </mbsc-card-content>
</mbsc-card>

<mbsc-card collapsible>
  <mbsc-card-header>
      <mbsc-card-title class="mbsc-bold">What happens with the contents of my recycling bin?</mbsc-card-title>
  </mbsc-card-header>
  <mbsc-card-content>
    The bin truck weighs your bin and then tips the contents into the back of the truck where it is 
    compacted with other collected mixed recyclable material. When the truck is full it returns to the 
    depot or the recycling centre where the bin lorry empties the mixed contents onto the reception
     hall floor and it is inspected to check if it is fit to process.
  </mbsc-card-content>
</mbsc-card>
  
<mbsc-card collapsible>
  <mbsc-card-header>
      <mbsc-card-title class="mbsc-bold">Where can I dispose hazardous waste?</mbsc-card-title>
  </mbsc-card-header>
  <mbsc-card-content>
    These items must be treated correctly. Check the map to see if your local civic amenity site 
    collects this waste. Currently, not all civic amenity sites accept household hazardous waste so 
    special one day collections are hosted every year rotating across all the local authorities over a 
    three-year cycle. 
    Keep an eye on local media for these special collection days.
  </mbsc-card-content>
</mbsc-card>

<mbsc-card collapsible>
  <mbsc-card-header>
      <mbsc-card-title class="mbsc-bold">What do I do with electrical items?</mbsc-card-title>
  </mbsc-card-header>
  <mbsc-card-content>
    All electrical retailers will take these back these items free of charge from householders, 
    as will civic amenity sites.
  </mbsc-card-content>
</mbsc-card>
  
  
  <!-- ... -->
</mbsc-accordion>


<div id="video">
  <h3>Learn more about our team</h3>

  <iframe width="230" height="180" src="https://www.youtube.com/embed/DVNDTTlNV_4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

 

 <ion-footer>
  <ion-toolbar>
    <ion-title>Eco App</ion-title>
  </ion-toolbar>
</ion-footer>

</ion-content>



