@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

ion-title {
    background-color:#3be13b;
    color: white;
    padding: 30px;
    padding-bottom: 30px;
  
  }

ion-fab-list p {
  padding-right: 0px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 100px;
  font-weight: 900;
  color:grey;
 
}

h3 {
  font-family: 'Dosis', sans-serif;
  color:grey;
  font-size: 40px;
  font-weight: 700;
}

.about {

  --ion-background-color:#DCDCDC;

}



