<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="about">

  <h1>FAQS</h1>
  <h3>Have some questions?</h3>

  <div class="buttons">

  <ion-button size="large" (click)="showAlert()"color="medium">What is recycling?</ion-button>

  <ion-button size="large" (click)="showAlert2()" color="medium">What can I put in my food waste bin</ion-button>

  <ion-button size="large" (click)="showAlert3()" color="medium">What is home composting?</ion-button>

  <ion-button size="large" (click)="showAlert4()" color="medium">What is going on with the bin charges?</ion-button>

  <ion-button size="large" (click)="showAlert5()" color="medium">Can I put glass in the recycling bin?</ion-button>

  <ion-button size="large" (click)="showAlert6()" color="medium">What about empty aerosol cans?</ion-button>

  <ion-button size="large" (click)="showAlert7()" color="medium">What happens with the contents of my recycling bin?</ion-button>

  <ion-button size="large" (click)="showAlert8()" color="medium">Where can I dispose hazardous waste?</ion-button>

  <ion-button size="large" (click)="showAlert9()" color="medium">What do I do with electrical items?</ion-button>

 </div>

 <ion-footer>
  <ion-toolbar>
    <ion-title>Eco App</ion-title>
  </ion-toolbar>
</ion-footer>

</ion-content>
