<ion-header>
  <ion-toolbar>
    <ion-title>
      Categories
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Batteries</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Food waste</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Large Items</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Electronics</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>General Plastic</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Textiles</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
