@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');


#map {
  height: 60%;
  width: 90%;
  margin:0px auto;
  

}

ion-title {
    background-color:#3be13b;
    color: white;
    padding: 30px;
    padding-bottom: 30px;
  
  }

  h1 {
  font-family: 'Dosis', sans-serif;
  color:grey;
  font-size: 40px;
  font-weight: 700;
  }

  .locations {

    --ion-background-color:#DCDCDC;
  }

  
