<ion-header>
  <ion-toolbar>
    <ion-title>large-items</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categories"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="assets/couches.png" />
    <ion-card-header>
      <ion-card-subtitle>catergory:</ion-card-subtitle>
      <ion-card-title>Large items</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Many items, such as old furniture or unwanted bikes, can be upcycled to give them a new lease of life or stripped for parts to create something completely new.
      Those items too big for your regular waste collection service, such as furniture, mattresses and old fitness and play equipment, can be taken away for recycling by special arrangement. 
      If you have furniture that is in good condition why not donate it to a local charity and some of them will even come and collect it if you have no way of getting to them but only donate something that can be resold or else the charity might be stuck with the cost of disposal.
    </ion-card-content>
  </ion-card>

</ion-content>
