<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/logo.png" alt="eco-logo">
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input type="text" name="name" placeholder=" name">
          <ion-icon name="person-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input type="text" name="phone" placeholder=" Phone">
          <ion-icon name="call-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input type="text" name="email" placeholder=" Email" >
          <ion-icon name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input placeholder=" Password" type="password">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <br>

      <ion-button fill="outline" color="dark"> Sign Up </ion-button> 

    </ion-card-content>
  </ion-card>

</ion-content>
