<ion-header>
  <ion-toolbar>
    <ion-title>electronics</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categories"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="assets/weee.png" />
    <ion-card-header>
      <ion-card-subtitle>catergory:</ion-card-subtitle>
      <ion-card-title>Electronics</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      This should be brought to a WEEE dropoff recycling point or Civic Amenity Site, check the waste services locator on this site.
      When you recycle anything with a plug or a battery you are helping to reduce the amount of waste going to landfill. Electrical items
         generally contain hazardous components and therefore need to be disposed of correctly.
      By recycling you are also helping to conserve natural resources such as plastics, glass and metals as they are recovered for use again in industry. 
    </ion-card-content>
  </ion-card>

</ion-content>
