<ion-header>
  <ion-toolbar>
    <ion-title>foodwaste</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categories"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="assets/apples.png" />
    <ion-card-header>
      <ion-card-subtitle>catergory:</ion-card-subtitle>
      <ion-card-title>Food Waste</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Plate scrapings, food which has spoiled [remove it from any packaging].
      This should be placed in the food waste recycling bin if you are entitled to a collection service.
    </ion-card-content>
  </ion-card>

</ion-content>
