ion-title {
    background-color:#3be13b;
    color: white;
    padding: 30px;
    padding-bottom: 30px;
  
  }

  ion-content {
    --ion-background-color:#DCDCDC;
  }

  ion-card {
    --ion-background-color:white;
  }
