<ion-header>
  <ion-toolbar>
    <ion-title>general-plastic</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categories"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>catergory:</ion-card-subtitle>
      <ion-card-title>General Plastic</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      This should be placed in the household recycling bin.
      Please make sure items are clean, dry and placed loosely in the bin. Why not invest in a reusable bottle to reduce your dependence on single use items? 
      There is no need to remove the labels as this will happen during the recycling process and also you can remove the lid, squash the bottle and then place it back in. With the air removed from the bottle it means you will have more room in your recycle bin.
    </ion-card-content>
  </ion-card>

</ion-content>
