<ion-header>
  <ion-toolbar>
    <ion-title>batteries</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categories"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

 <ion-content>

  <ion-card>
    <img src="assets/battery.png" />
    <ion-card-header>
      <ion-card-subtitle>catergory:</ion-card-subtitle>
      <ion-card-title>Batteries</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Household batteries of any size including battery packs from electrical items are suitable for recycling.
     Batteries should be brought to a Civic Amenity Site or lots of shops and 
        supermarkets who sell batteries will have a collection point
        Check the Waste Services Locator on this site for further details.
     When you recycle anything with a plug or a battery you are helping to reduce the amount of 
        waste going to landfill. Batteries generally contain hazardous components and therefore need to be disposed of correctly.
    </ion-card-content>
  </ion-card>

</ion-content>
